@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*{
	margin: 0 auto;
	padding: 0;
	scroll-behavior: smooth;
}

body{
	max-width: 1400px;
	font-family: 'Raleway', sans-serif;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

header{
	height: 120px;
}

header img{
	margin-left: 100px;
	margin-top: 50px;
}

header ul{
	display: inline-flex;
	margin-left: 950px;
}

header li{
	list-style: none;
	font-size: 25px;
	margin-left: 50px;
	transition: 1s;
}

header li:hover{
	transform: 0.5s;
}

.navigation{
	margin-top: -28px;
}

.navigation ul li a{
	color: black;
	text-decoration: none;
}

.forma{
	padding-top: 10px;
	padding-bottom: 10px;
}

.forma form{
	font-size:24px;
	display: flex;
	flex-direction: column;
}

.forma form label{
	padding-bottom: 10px;
	padding-top: 20px;
}

.forma form input{
	width: 300px;
	padding: 10px 15px;
	border-radius: 35px;
	border: 1px solid black;
}

.forma form select{
	width: 330px;
	padding: 10px 15px;
	border: 1px solid black;
	border-radius: 35px;
	font-family: 'Raleway', sans-serif;
}

.forma #submit{
	width: 150px;
	margin-top: 30px;
	font-family: 'Raleway', sans-serif;
	background-color: white;
	border: 1px solid black;
	color: black;
	transition: 1s;
}

.forma #submit:hover{
	transform: 0.5s;
	color: white;
	background-color: black;
}

footer{
	background-color: #bfbfbf;
	display: flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 50px;
}

iframe{
	padding-top: 15px;
	width: 600px;
	height: 300px;
	padding-bottom: 20px;
}

.menu{
	padding-top: 40px;
}

.navi{
	display: flex;
	flex-direction: column;
	padding-top: 10px;
}

.navi a{
	color: black;
	text-decoration: none;
}

.navi a{
	padding-top: 5px;
}

.contacts{
	padding-top: 40px;
}

.contacts div{
	padding-top: 10px;
}

.contacts div p{
	padding-top: 5px;
}

.map{
	padding-top: 40px;
}